{
    email youremail@example.com
}

southsuburbsbest.com {
    encode gzip
    reverse_proxy ssb_frontend:3000 {
        header_up Host {host}
        header_up X-Forwarded-Proto https
    }
}

automation.leads2scale.com {
    reverse_proxy n8n:5678
}

ai.leads2scale.com {
    reverse_proxy flowise:3000
}
